<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center;">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}style="color: red">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div class="container mt-5">
<form method="POST">
    {% csrf_token %}
<h3  style=" text-shadow: 1px 1px 1px #000; ">3.4.3  Number of extension and outreached Programmes conducted by the institution through NSS/ NCC etc., (including the programmes such as Swachh Bharat, AIDS awareness, Gender issues etc. and/or those organised in collaboration with industry, community and NGOs during the last five years</h3>

    <div class="mb-3">
  <label for="Name of the activity" class="form-label">Name of the activity</label>
  <input type="text" class="form-control" id="Name of the activity" name="Name_of_the_activity">
</div>

<div class="mb-3">
  <label for="Organising unit/ agency/ collaborating agency" class="form-label">Organising unit/ agency/ collaborating agency</label>
  <input type="text" class="form-control" id="Organising unit/ agency/ collaborating agency" name="Organising_unit_agency_collaborating_agency">
</div>

<div class="mb-3">
  <label for="Name of the scheme" class="form-label">Name of the scheme</label>
  <input type="text" class="form-control" id="Name of the scheme" name="Name_of_the_scheme">
</div>

<div class="mb-3">
  <label for="Year of the activity " class="form-label">Year of the activity </label>
  <input type="date" class="form-control" name="Year_of_the_activity">
</div>

<div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">Upload</button>
    <a class="btn btn-primary" href="{% url 'view' %}" role="button">Go Back</a>
</div>
</form>
</div>

</body>
