<!DOCTYPE html>
<html>
<head>
   <title>3_3_1 Datas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

       <style>
      table {
         border-collapse: collapse;
      }
      th, td {
         border: 1px solid black;
         padding: 8px;
      }
   </style>
</head>
<body>
    <h1>Details between {{ start_date }} and {{ end_date }}</h1>

<table>
  <thead>
    <tr>
      <th>Name of the teacher</th>
      <th>Title of the book/chapters  published</th>
      <th>Title of the paper</th>
      <th>Title of the proceedings of the conference</th>
      <th>Name of the conference</th>
      <th>National/International</th>
      <th>Year of publication</th>
      <th>IISBN number of the proceeding</th>
      <th>Affiliating Institute at the time of publication</th>
        <th>Name of the publisher</th>
    </tr>
  </thead>
    {% for row in 332projects %}
      <tr>
        <td>{{ row.Name_of_the_teacher }}</td>
        <td>{{ row.Title_of_the_book_chapters_published }}</td>
        <td>{{ row.Title_of_the_paper }}</td>
        <td>{{ row.Title_of_the_proceedings_of_the_conference }}</td>
        <td>{{ row.Name_of_the_conference }}</td>
        <td>{{ row.national_international }}</td>
        <td>{{ row.Year_of_publications }}</td>
        <td>{{ row.ISBN_number_of_the_proceeding }}</td>
        <td>{{ row.Affiliating_Institute_at_the_time_of_publication }}</td>
      </tr>
    {% endfor %}
</table>
</body>
</html>